
/* Ширина страницы */
.md-grid {
  width: 100%;
  max-width: 1280px;
  min-width: 260px;
}
div.mermaid {
  text-align: center;
 }
@media (width < 1220px) {
.button-fixed {
  box-shadow: var(--md-shadow-z2);
  text-align: center;
  position: fixed;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 200px;
  z-index: 2;
}
}
@media (width > 1220px) {
  .button-fixed {
    box-shadow: var(--md-shadow-z2);
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
    text-align: center;
  }
}

/* жирный шрифт */
.fw {
font-weight: bold};
/* Спрятать скрыть и закопать элемент */
.hide {
  display:none;
  visibility: hidden;
}
/* Спрятать элемент */
.hideme {
  display:none;
}

/* Анимации */
@keyframes heart {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.15);
    }
}
  .heart {
    animation: heart 1000ms infinite;
    color: #fa0000;
}
@keyframes scaled_boosty {
    0%, 40%, 80%, 100% {
      transform: scale(1.4);
    }
    20%, 60% {
      transform: scale(1.6);
    }
}
.scaled_boosty {
  animation: scaled_boosty 1000ms infinite;
  color: #f2591d;
}
.gradient-background {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.gradient-background2 {
  background: linear-gradient(-45deg, #23d5ab, #23a6d5, #e73c7e, #ee7752);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
0% {
 background-position: 0% 50%;
}
50% {
 background-position: 100% 50%;
}
100% {
 background-position: 0% 50%;
}
}

.box {
  position: relative;
  overflow:hidden;
  width:100%;
  height:250px;
  border-radius: 0.9rem;
}

.box img {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:100%;
  height:300px;
  object-fit:cover;
}
/* Дата последней модификации страницы */
.git-revision-date-localized-plugin { color: var(--md-typeset-color); }

/* Красивые кнопки   */
.md-typeset .md-button {
    border-radius: 0.3rem;
    font-weight: 400;
    font-size: 0.7rem;
    padding: 0.45em 0.9em;
    color: var(--md-typeset-color);
    margin-bottom: 10px;
}

[data-md-color-primary=black] 
.md-button--primary-c2 {
  background-color: #14151aa2;
  border-radius: 0.3rem;
  border-color: #e2e2e2;
  font-weight: 400;
  font-size: 0.7rem;
  padding: 0.45em 0.9em;
  color: #e2e2e2;
  margin-bottom: 10px;
}

/* кнопка по центру */
.button_wide {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}
.button_wide_s {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  width: 100px;
}

/* рамка коментов */
.corner-wrapper {
  margin-top: 30px;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  transform: translateZ(0px);
  border: 3px solid #bec1c6;
  background-color: #ffffff;
}
.full {width:100%;}

/* slaider */
/* .slider{position:relative;overflow:hidden;max-width:600px;margin-left:auto;margin-right:auto}.slider__wrapper{position:relative;overflow:hidden;background-color:#eee}.slider__items{display:flex;transition:transform .5s ease}.transition-none{transition:none}.slider__item{flex:0 0 100%;max-width:100%;position:relative}.slider__control{position:absolute;top:50%;width:40px;height:50px;transform:translateY(-50%);display:none;align-items:center;justify-content:center;color:#fff;background:rgba(0,0,0,.3);opacity:.5;user-select:none}.slider__control_show{display:flex}.slider__control:focus,.slider__control:hover{color:#fff;text-decoration:none;opacity:.7}.slider__control_prev{left:0}.slider__control_next{right:0}.slider__control::before{content:'';display:inline-block;width:20px;height:20px;background:transparent no-repeat center center;background-size:100% 100%}.slider__control_prev::before{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")}.slider__control_next::before{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")}.slider__indicators{position:absolute;left:0;right:0;bottom:10px;display:flex;justify-content:center;padding-left:0;margin:0 15%;list-style:none;user-select:none}.slider__indicator{flex:0 1 auto;width:30px;height:4px;margin-right:3px;margin-left:3px;background-color:rgba(255,255,255,.5);background-clip:padding-box;border-top:10px solid transparent;border-bottom:10px solid transparent;cursor:pointer}.slider__indicator_active{background-color:#ffffff} */

/* Радиусы */
.R02 {
  border-radius: 0.2rem;
}
.R03 {
  border-radius: 0.3rem;
}
.R06 {
  border-radius: 0.6rem;
}
.R09 {
  border-radius: 0.9rem;
}
.radius_video { border-radius: 20px; overflow: hidden; -webkit-transform: translateZ(0); }

/* контур */
.outline:hover {
  outline: 3px solid #ffffffe3;
}

/* Этим я лечил облизывание картинок */
.clearfix {
    clear: both;
}



[data-md-color-primary=black] .md-button--primary {
  background-color: #1d3136;
  border-color: var(--md-typeset-a-color);
  color: #13bfa6;
}

/* ===================================================================== */
/* Gallery Filter */
/* ===================================================================== */
 
  #gallery ul{
    list-style: none;
  }
  
  #gallery img{
    max-width: 100%;
    height: auto;
  }
  
  #gallery{
    /* margin: auto; */
    text-align: center;
  }
  
  .galleryfilter ul{
    list-style: none;
  }
  
  .galleryfilter img{
    max-width: 100%;
    height: auto;
  }
  
  
  .filter-menu{
    /* margin-bottom: 20px; */
  }
  .filter-menu li{
    display: inline-block;
    cursor: pointer;
    border-radius: 0.3rem;
    font-weight: 400;
    font-size: 0.7rem;
    padding: 0.45em 0.9em;
    color: #ffffff;
    outline: 2px solid #ffffff;
    
  }
  .filter-menu li:hover,
  .filter-menu li.current{
    background: var(--link-color);
    color: #000;
    outline: 2px solid var(--link-color);
  }
  
  .filter-item li{
    width: 50%;
    padding: 0.5%;
    /* margin: auto; */
    display: inline-block;
  }
  
  .filter-item li.active{
    width: 50%;
    /* padding: 2px; */
    transition: all 0.1s ease;
  }
  
  .filter-item li.delete{
    width: 0%;
    /* padding: 0; */
    transition: all 0.1s ease;
  }
  
  /* .filter-item img{
    display: block;
    width: 100%;
    height: auto;
  }
  img:hover {
    outline: 2px solid #ffc400;
  } */
  @media (width > 1280px) {
    .filter-item li.active,
    .filter-item li{
      width: 402.66px;
    }
  }
  @media (min-width: 350px) and (max-width: 1280px) {
    .filter-item li.active,
    .filter-item li{
      width: 345px;
      margin-left: 7px;
      margin-right: 7px;
    }
  } 
  @media (width < 350px) {
    .filter-item li.active,
    .filter-item li{
      width: 100%;
    }
  }
 
  [dir=ltr] .md-typeset ol li, [dir=ltr] .md-typeset ul li {
    margin-left: 0px;
    margin-right: 0.5%;
}
[dir=ltr] .md-typeset ol, [dir=ltr] .md-typeset ul {
  margin-left: 0%;
}
  ul.filter-item { margin-left: 0px;};

  ul.filter-menu { margin-left: 0px;};

  li { margin-left: 0px;};
/* =========================================================== */
/* блок текста */
.container_txt {
  text-align: center;
  }
  
  .block_txt {
    text-align: center;
    border-radius: 0.9rem;
    background-color: #0000002a;
    display: inline-table;
    margin-bottom: 10px;
    margin: 8px;
    width: 395px;
    height: auto;
    padding-right: 5px; /* отступ справа */
    padding-bottom: 30px; /* отступ снизу */
    padding-left: 5px; /* отступ слева */
  }
  
  .flex_block_txt {
    flex: 0 0 100%;
    width: 100%;
    border-radius: 0.9rem;
    background-color: #0000002a;
    display: inline-table;
    height: auto;
    padding-right: 30px; /* отступ справа */
    padding-bottom: 30px; /* отступ снизу */
    padding-left: 50px; /* отступ слева */
    font-weight: ;
  }
  
  @media screen and (max-width: 395px) {
    .block_txt {
      width: 95%;
      height: auto;
    }
  }




  @media (width > 1280px) {
    .parent {
      text-align:left;
    }
  }
  @media (min-width: 350px) and (max-width: 1280px) {
    .parent {
      text-align:center;
    }
  } 
  .child {
    text-align:center;
    border-radius: 0.9rem;
    background-color: #0000002a;
    display: inline-block;
    vertical-align:top;
    margin-bottom: 10px;
    margin-right: 15px;
    height: auto;
    margin-top: 10px;
    padding-right: 5px; /* отступ справа */
    padding-bottom: 30px; /* отступ снизу */
    padding-left: 5px; /* отступ слева */
  }
  @media (width > 1280px) {
    .child {
      width: 402.66px;
    }
  }
  @media (min-width: 350px) and (max-width: 1280px) {
    .child {
      width: 345px;
      margin-left: 7px;
      margin-right: 7px;
    }
  } 
  @media (width < 350px) {
    .child {
      width: 100%;
    }
  }
/* Модальное окно */

/* свойства модального окна по умолчанию */
.modal {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5); /* цвет фона */
  z-index: 10;
  opacity: 0; /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 200ms ease-in; 
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in; /* анимация перехода */
  pointer-events: none; /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
}
/* при отображении модального окно */
.modal:target {
  opacity: 1; /* делаем окно видимым */
  pointer-events: auto; /* элемент видим для событий мыши */
  overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
@media (min-width: 576px) {
.modal-dialog {
    max-width: 500px;
    margin: 30px auto; /* для отображения модального окна по центру */
}
}
/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #1e2224;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: .3rem;
  outline: 4px solid #41474a;
}
@media (min-width: 768px) {
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    min-width: 525px;
}
}
/* свойства для заголовка модального окна */
.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  margin-right: 40px;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  /* border-bottom: 4px solid #41474a; */
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
  
  font-family: sans-serif;
  font-size: 50px;
  text-shadow: 0 2px 0 #242424;
  opacity: .5;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 32px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 32px;
  z-index: 1;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}
.overlay1 {
  z-index: 1;
  position:absolute;
  left: 55%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 20px;
  background-color: rgba(0,0,0,0.5); 
  top: 0;
}

/* Значок скопировать :material-content-copy: */
.button_copy {
  color: #13bfa6;
}
.button_copy:hover {
  color: var(--link-color);
}

/* Цвета */
[data-md-color-scheme="slate"] {
  --link-color: #ffd500;
  --md-accent-fg-color: #ffd500;
  /* --md-typeset-color: #ffffff; */
  /* --md-primary-fg-color: #14151a; */
}
.md-typeset .tabbed-set>input:first-child:checked~.tabbed-labels>:first-child, .md-typeset .tabbed-set>input:nth-child(10):checked~.tabbed-labels>:nth-child(10), .md-typeset .tabbed-set>input:nth-child(11):checked~.tabbed-labels>:nth-child(11), .md-typeset .tabbed-set>input:nth-child(12):checked~.tabbed-labels>:nth-child(12), .md-typeset .tabbed-set>input:nth-child(13):checked~.tabbed-labels>:nth-child(13), .md-typeset .tabbed-set>input:nth-child(14):checked~.tabbed-labels>:nth-child(14), .md-typeset .tabbed-set>input:nth-child(15):checked~.tabbed-labels>:nth-child(15), .md-typeset .tabbed-set>input:nth-child(16):checked~.tabbed-labels>:nth-child(16), .md-typeset .tabbed-set>input:nth-child(17):checked~.tabbed-labels>:nth-child(17), .md-typeset .tabbed-set>input:nth-child(18):checked~.tabbed-labels>:nth-child(18), .md-typeset .tabbed-set>input:nth-child(19):checked~.tabbed-labels>:nth-child(19), .md-typeset .tabbed-set>input:nth-child(2):checked~.tabbed-labels>:nth-child(2), .md-typeset .tabbed-set>input:nth-child(20):checked~.tabbed-labels>:nth-child(20), .md-typeset .tabbed-set>input:nth-child(3):checked~.tabbed-labels>:nth-child(3), .md-typeset .tabbed-set>input:nth-child(4):checked~.tabbed-labels>:nth-child(4), .md-typeset .tabbed-set>input:nth-child(5):checked~.tabbed-labels>:nth-child(5), .md-typeset .tabbed-set>input:nth-child(6):checked~.tabbed-labels>:nth-child(6), .md-typeset .tabbed-set>input:nth-child(7):checked~.tabbed-labels>:nth-child(7), .md-typeset .tabbed-set>input:nth-child(8):checked~.tabbed-labels>:nth-child(8), .md-typeset .tabbed-set>input:nth-child(9):checked~.tabbed-labels>:nth-child(9) {
  color: #ffd500;
}
/* .md-typeset .tabbed-labels>label {
  color: #ffd500bd;
} */

.js .md-typeset .tabbed-labels:before {
  background: #ffd500;
  color: #ffd500;
} 
.md-nav__link { --md-typeset-a-color: #13bfa6;}
.md-typeset a { --md-typeset-a-color: #13bfa6;}

:root {
  --md-admonition-icon--material-printer-3d-nozzle-outline: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 2h10v5h2v6h-2.5L13 17h-2l-3.5-4H5V7h2V2m3 20H2v-2h8a1 1 0 0 0 1-1v-1h2v1a3 3 0 0 1-3 3M7 9v2h1.5l3.5 4 3.5-4H17V9h-2V4H9v5H7Z"></path></svg>')
}
.md-typeset .admonition.material-printer-3d-nozzle-outline,
.md-typeset details.material-printer-3d-nozzle-outline {
  border-color: #13bfa6;
}
 .material-printer-3d-nozzle-outline > .admonition-title,
 .material-printer-3d-nozzle-outline > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .material-printer-3d-nozzle-outline > .admonition-title::before,
.md-typeset .material-printer-3d-nozzle-outline > summary::before {
  background-color: #13bfa6;
  -webkit-mask-image: var(--md-admonition-icon--material-printer-3d-nozzle-outline);
          mask-image: var(--md-admonition-icon--material-printer-3d-nozzle-outline);
}
