@keyframes heart {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.15);
    }
  }
  .heart {
    animation: heart 1000ms infinite;
    color: #fa0000;
    }
  }

 one {}
.one {
    color: #f2591d;
  }

  two {}
  .two {
      color: #0a91eb;
    }
    
.md-typeset .md-button {
    border-radius: 0.3rem;
    font-weight: 400;
    font-size: 0.7rem;
    padding: 0.45em 0.9em;
    color: var(--link-color);
  }  