/* Ширина страницы */
.md-grid {
  max-width: 1200px;
}

/* Анимации */
@keyframes heart {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.15);
    }
}
  .heart {
    animation: heart 1000ms infinite;
    color: #fa0000;
}
@keyframes scaled_boosty {
    0%, 40%, 80%, 100% {
      transform: scale(1.4);
    }
    20%, 60% {
      transform: scale(1.6);
    }
}
.scaled_boosty {
  animation: scaled_boosty 1000ms infinite;
  color: #f2591d;
}

/* Красивые кнопки   */
.md-typeset .md-button {
    border-radius: 0.3rem;
    font-weight: 400;
    font-size: 0.7rem;
    padding: 0.45em 0.9em;
    color: #ffffff;
}

/* Этим я скруглял картинки */
.radius {
    border-radius: 0.2rem;
}

/* Этим я лечил облизывание картинок */
.clearfix {
    clear: both;
}
/* Цвета */
[data-md-color-scheme="slate"] {
  --link-color: #ffee00;
}
/* Линейно раскладывает картинки */
.menu-figures {
  display: inline-block;
  padding: 0px 8px;
  margin: auto;
  }
  .menu-figures a {
  color: #ffffff;
  }
.figures-wrapper {
    margin: 0px -8px;
    text-align: center;
    }
.menu-img {
border-radius: 20%;
}    
  /* .menu-figures a:visited {
  color: #ffffff;
  } */
.menu-img {
  border-radius: 0.6rem;
}
figure:hover > .menu-img {
  border: 2px solid var(--link-color);
  }
  .md-typeset figure {
  margin: 0px;
  }
  .md-typeset figcaption {
    margin: 0.2em auto 0.8em auto;
  }